<ion-view title="Home" hide-nav-bar="true" hide-back-button="true" id="page8">
  <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/DJPXBUwRIOJ7R4vmr6An_Home.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <h4 id="home-heading4" style="color:#000000;text-align:center;">Welcome Rohit</h4>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div class="butt">
      <a style="display:block;" ui-sref="teamPilot.teamPilot2()">
        <img src="img/VSMv0QLtSbxJCSsgLzWw_tasks.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="but">
      <img src="img/WCOol2kIQhKV9chSzFjH_dash.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="butt">
      <img src="img/jMrw8HZSRVyixBixTsuN_myday.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="but">
      <img src="img/qk4nlEmhT5ay0vmbte59_attendance.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>