<ion-view title="Login" hide-nav-bar="true" id="page7">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <div>
      <img src="img/87sAh7VQEWXxd29cEVuQ_Login.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form1" class="list">
      <h5 id="login-heading1" style="color:#ADAAAA;" class="custom">Username</h5>
      <ion-list id="login-list1">
        <label class="item item-input custom inputbox" id="login-input1">
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <h5 id="login-heading2" style="color:#ADAAAA;" class="custom">Password</h5>
      <label class="item item-input custom inputbox" id="login-input2">
        <input type="password" placeholder="">
      </label>
      <ion-checkbox id="login-checkbox1" class="custom check">Remember Me</ion-checkbox>
      <a ui-sref="home()" id="login-button1" style="color:#FFFFFF;font-size:15px;" class="button button-calm button-small custom">Sign In</a>
      <a href-inappbrowser="/signup" id="login-button2" style="text-align:left;" class="button button-calm button-small button-block button-clear custom">Forgot Password?</a>
      <h5 id="login-heading3" style="color:#000000;font-weight:400;text-align:center;" class="footer">© 2018 LocationGuru Solutions Pvt. Ltd</h5>
    </form>
  </ion-content>
</ion-view>