<ion-view id="page1" style="background-color:#FFFFFF;" class="temp">
  <ion-tabs class="tabs-calm tabs-icon-only" id="teamPilot-tabs1">
    <ion-tab title="grid" icon="ion-grid" id="teamPilot-tab9">
      <ion-nav-view name="tab9"></ion-nav-view>
    </ion-tab>
    <ion-tab title="tasks" icon="ion-android-checkbox" href="#/page1/page10" id="teamPilot-tab10">
      <ion-nav-view name="tab10"></ion-nav-view>
    </ion-tab>
    <ion-tab title="pages" icon="ion-android-list" id="teamPilot-tab11">
      <ion-nav-view name="tab11"></ion-nav-view>
    </ion-tab>
    <ion-tab title="grid" icon="ion-ios-timer-outline" id="teamPilot-tab12">
      <ion-nav-view name="tab12"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>