<ion-view title="UPS Battery Maintenance" id="page12">
  <ion-content padding="true" class="has-header">
    <h2 id="uPSBatteryMaintenance-heading7" style="color:#000000;">TO050203</h2>
    <h4 id="uPSBatteryMaintenance-heading11" style="color:#000000;">Select Cause *</h4>
    <form id="uPSBatteryMaintenance-form15" class="list">
      <label class="item item-select" id="uPSBatteryMaintenance-select3">
        <span class="input-label">Select an Option</span>
        <select>
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </label>
      <label class="item item-input" id="uPSBatteryMaintenance-input10">
        <input type="text" placeholder="Enter Comments">
      </label>
    </form>
    <button id="uPSBatteryMaintenance-button9" class="button button-calm shadow">Take Picture</button>
    <h4 id="uPSBatteryMaintenance-heading8" style="color:#000000;">Technician Comments *</h4>
    <form id="uPSBatteryMaintenance-form5" class="list">
      <label class="item item-select" id="uPSBatteryMaintenance-select4">
        <span class="input-label">Select an Option</span>
        <select>
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </label>
      <label class="item item-input" id="uPSBatteryMaintenance-input3">
        <input type="text" placeholder="Enter Comments">
      </label>
    </form>
  </ion-content>
</ion-view>